* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text_primary {
    color: #FD6E0A;
}

.button_primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav_title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner_title {
    font-weight: 600;
    font-size: 45px;
}

.banner_sub_title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner_description {
    color: #757575;
    margin-bottom: 30px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* about section styles */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 155px;
    text-align: center;
}

.section_title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.section_description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about_info_container {
    display: flex;
    justify-content: space-around;
}

.about .info_title {
    font-size: 20px;
    color: #757575;

}

.info_description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do section */


.skill_container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}

.skill_title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill_description {
    color: #757575;

}


/* resume styles */
.resume_container {
    display: flex;
    gap: 24px;
}

.resume_item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume_item .title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.resume_item .sub_title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume_item .description {
    color: #757575;
}

.resume_button{
    margin-top: 50px;
    text-align: center;
}